# Build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Arquivos pessoais (NÃO vão pro GitHub)
ESTUDO_ETAPA1.txt
ESTUDO_ETAPA2.txt
ESTUDO_ETAPA3.txt
ROTEIRO_APRESENTACAO.txt
ROADMAP_TESTES.txt
ENTIDADES_E_RELACIONAMENTOS.md
